@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

.body {
  margin: 20px;
  font-size: 10.5pt;
  font-family: "LXGW WenKai TC", cursive;
  line-height: 1.5;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  scroll-behavior: smooth; 
}

.title {
  position: fixed;
  writing-mode: vertical-rl;
  padding-top: 1rem;
  font-weight: 400;
  z-index: 16;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7px);
  will-change: transform;
}

.title a {
  margin: 2rem auto;
  text-decoration: none;
  color: var(--global-text);
  text-shadow: 0.7px 0.1px seagreen;
}

.title a ruby {
  font-size: 3rem;
}

.title a rt {
  text-orientation: upright;
  font-size: 37%; 
  letter-spacing: 0;
  ruby-align: center;
  text-align: center; /* Chrome */
}

.main {
  writing-mode: vertical-rl;
  padding-right: 8rem; 
  margin-top: 2rem;
}

.details {
  margin: 3rem;
}

.summary {
  list-style: none;
  font-size: 2.5rem;
}

.summary::-webkit-details-marker {
  display: none; /* 隱藏預設標記 */
}

.bookList {
  margin: 0 auto;
  padding: 0;
  font-size: 1.65rem;
  list-style: Number;
  list-style-position: outside;
  color: var(--global-text);
}

.bookItem {
  padding: 0;
}

.bookLink {
  font-size: 1.65rem;
  text-decoration: none;
  color: purple;
}

.bookLink:hover {
  text-decoration: underline;
}

.details[open] .bookList {
  animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100vh;
  }
}

.details > .summary::before {
  content: "";  
}

/* @counter-style 規則本身是全域的，不需要更改 */
@counter-style Number {
  system: "numeric";
  symbols: "  壹" "  貳" "  叁" "  肆" "  伍" "  陸" "  柒" "  捌" "  玖" "  拾" "拾壹" "拾貳" "拾叁" "拾肆" "拾伍" "拾陸" "拾柒" "拾捌" "拾玖" "貳十" "貳壹";
  suffix: "｜";  
}

@media screen and (max-width: 600px) {
  .title ruby {
    font-size: 2.5rem;
  }  

  .title {
    font-size: 3.5rem;
    text-shadow: none;
  }

  .summary {
    font-size: 3rem;
  }

  .bookItem:hover {
    text-shadow: none;
  }

  .details {
    box-shadow: none;
  }
}
