.page {
  display: block;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 7fr;
  margin: auto;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.scroll {
  margin-top: 5rem;
}

.section {
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fade-in ease 1.5s;
animation-fill-mode: forwards;
}

  @media (max-width: 1000px) {
    .logo {
      width: 0;
      height: auto;
    }

    .img {
      width: 150px;
      height: auto;
      object-fit: cover;
      border-radius: 16px;
    }
  }